.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 1800px) {
  #leftdiv {
    width: 700px;
    height: 850px;
    margin-left: 20px;
    margin-top: -22px;
  }
}

@media (min-width: 1800px) {
  #rightmaindiv {
    width: 991px;
    margin-top: 20px;
    height: 778px;
  }
}

@media (min-width: 1800px) {
  #left1div {
    width: 294px;
    margin-left: 35px;
  }
}

@media (min-width: 1800px) {
  #left2div {
    width: 200px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left3div {
    width: 200px;
    margin-left: 25px;
  }
}

@media (min-width: 1800px) {
  #bottomrightdiv {
    width: 800px;
    margin-top: 780px;
    margin-left: -652px;
    height: 59px;
  }
}

@media (min-width: 1800px) {
  #correctbtn {
    width: 190px;
    height: 50px;
    margin-left: -379px;
  }
}

@media (min-width: 1800px) {
  #showbtn {
    width: 190px;
    height: 50px;
    margin-left: -146px;
  }
}

@media (min-width: 1800px) {
  #rightimgsdiv {
    width: 900px;
    height: 700px;
    margin-left: 164px;
  }
}

@media (min-width: 1800px) {
  #right1imgdiv {
    /*width: 920px;*/
    /*height: 180px;*/
    margin-top: 48px;
  }
}

@media (min-width: 1800px) {
  #right2imgdiv {
    width: 920px;
    height: 180px;
    margin-top: 50px;
  }
}

@media (min-width: 1800px) {
  #right3imgdiv {
    width: 920px;
    height: 180px;
    margin-top: 32px;
  }
}

@media (min-width: 1800px) {
  #r3img1 {
    width: 160px;
    height: 160px;
    margin-left: -8px;
  }
}

@media (min-width: 1800px) {
  #r3img2 {
    width: 160px;
    height: 160px;
    margin-left: 19px;
  }
}

@media (min-width: 1800px) {
  #r3img3 {
    width: 160px;
    height: 160px;
    margin-left: 34px;
  }
}

@media (min-width: 1800px) {
  #r3img4 {
    width: 160px;
    height: 160px;
    margin-left: 32px;
  }
}

@media (min-width: 1800px) {
  #r3img5 {
    height: 160px;
    width: 160px;
    margin-left: 35px;
  }
}

@media (min-width: 1800px) {
  #r2img1 {
    width: 160px;
    height: 160px;
    margin-left: -8px;
  }
}

@media (min-width: 1800px) {
  #r2img2 {
    width: 160px;
    height: 160px;
    margin-left: 19px;
  }
}

@media (min-width: 1800px) {
  #r2img3 {
    width: 160px;
    height: 160px;
    margin-left: 34px;
  }
}

@media (min-width: 1800px) {
  #r2img4 {
    width: 160px;
    height: 160px;
    margin-left: 32px;
  }
}

@media (min-width: 1800px) {
  #r2img5 {
    width: 160px;
    height: 160px;
    margin-left: 35px;
  }
}

@media (min-width: 1800px) {
  #r1img1 {
    width: 160px;
    height: 106px;
    margin-left: 24px;
    margin-top: 72px;
  }
}

@media (min-width: 1800px) {
  #r1img2 {
    width: 160px;
    height: 116px;
    margin-left: 24px;
    margin-top: 9px;
  }
}

@media (min-width: 1800px) {
  #r1img3 {
    width: 160px;
    height: 114px;
    margin-left: 24px;
    margin-top: 16px;
  }
}

@media (min-width: 1800px) {
  #r1img4 {
    width: 160px;
    height: 116px;
    margin-left: 24px;
    margin-top: 16px;
  }
}

@media (min-width: 1800px) {
  #r1img5 {
    width: 160px;
    height: 107px;
    margin-left: 24px;
    margin-top: 15px;
  }
}

#left3img1 {
}

@media (min-width: 1800px) {
  #left1img1 {
    width: 272px;
    height: 155px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left1img2 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left1img3 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left1img4 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left1img5 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left2img1 {
    width: 170px;
    height: 155px;
  }
}

@media (min-width: 1800px) {
  #left2img2 {
    width: 170px;
    height: 155px;
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  #left2img3 {
    width: 170px;
    height: 155px;
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  #left2img4 {
    width: 170px;
    height: 155px;
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  #left2img5 {
    width: 170px;
    height: 155px;
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  #left3img1 {
    width: 272px;
    height: 155px;
    margin-left: 21px;
  }
}

@media (min-width: 1800px) {
  #left3img2 {
    width: 272px;
    height: 155px;
    margin: 10px;
    margin-left: 21px;
  }
}

@media (min-width: 1800px) {
  #left3img3 {
    width: 272px;
    height: 155px;
    margin-top: 0px;
    margin-left: 21px;
  }
}

@media (min-width: 1800px) {
  #left3img4 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 21px;
  }
}

@media (min-width: 1800px) {
  #left3img5 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 21px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #playareadiv {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rightimgsdiv {
    margin-left: 100px;
    width: 650px;
    height: 400px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #leftdiv {
    width: 500px;
    height: 650px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #left1div {
    height: 620px;
    width: 215px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rightmaindiv {
    width: 808px;
    margin-left: 30px;
    height: 751px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img1 {
    width: 200px;
    height: 120px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img2 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img3 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img4 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img5 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #left2div {
    width: 150px;
    height: 620px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #left3div {
    width: 220px;
    height: 620px;
    margin-left: 53px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img1 {
    width: 140px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img2 {
    width: 140px;
    height: 120px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img3 {
    margin-top: 5px;
    width: 140px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img4 {
    margin-top: 5px;
    width: 140px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img5 {
    margin-top: 5px;
    width: 140px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img1 {
    width: 200px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img2 {
    margin-top: 5px;
    width: 200px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img3 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img4 {
    margin-top: 5px;
    width: 200px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img5 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
  }
}

@media (min-width: 1800px) {
  #rightmiddlediv {
    height: 700px;
    margin-top: 20px;
    width: 340px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rightmiddlediv {
    margin-top: 50px;
    height: 298px;
    width: 153px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #bottomrightdiv {
    width: 600px;
    margin-top: 760px;
    margin-left: -570px;
    height: 59px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #correctbtn {
    width: 150px;
    height: 50px;
    margin-left: -272px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  showans {
    width: 160px;
    height: 50px;
    margin-left: 80px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #playareadiv {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #leftdiv {
    width: 500px;
    height: 650px;
    margin-left: 100px;
    margin-top: 19px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #left1div {
    height: 620px;
    width: 233px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #left2div {
    width: 150px;
    height: 620px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #left3div {
    width: 312px;
    height: 620px;
    margin-left: 37px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #rightmaindiv {
    margin-left: 150px;
    height: 772px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #rightimgsdiv {
    margin-left: 100px;
    width: 650px;
    height: 500px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #right1imgdiv {
    width: 650px;
    /*height: 150px;*/
    margin-top: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #rightmiddlediv {
    height: 500px;
    margin-top: 30px;
    width: 256px;
    margin-left: -77px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #right2imgdiv {
    width: 650px;
    height: 150px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #right3imgdiv {
    width: 650px;
    height: 150px;
    margin-top: 11px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img1 {
    width: 110px;
    height: 77px;
    margin-top: -324px;
    margin-left: -374px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img2 {
    width: 110px;
    height: 85px;
    margin-top: -142px;
    margin-left: -110px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img3 {
    width: 110px;
    height: 85px;
    margin-top: 46px;
    margin-left: -109px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img4 {
    width: 110px;
    height: 85px;
    margin-top: 228px;
    margin-left: -109px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img5 {
    width: 110px;
    height: 85px;
    margin-top: 409px;
    margin-left: -109px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img1 {
    width: 110px;
    height: 120px;
    margin-top: 15px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img2 {
    width: 110px;
    height: 120px;
    margin-top: 15px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img3 {
    width: 110px;
    height: 120px;
    margin-top: 15px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img4 {
    width: 110px;
    height: 120px;
    margin-left: 20px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img5 {
    width: 110px;
    height: 120px;
    margin-top: 15px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img1 {
    width: 110px;
    height: 120px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img2 {
    width: 110px;
    height: 120px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img3 {
    width: 110px;
    height: 120px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img4 {
    width: 110px;
    height: 120px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img5 {
    width: 110px;
    height: 120px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #right1imgdiv {
    width: 153px;
    /*height: 140px;*/
    margin-top: -20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #right2imgdiv {
    width: 650px;
    height: 140px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #right3imgdiv {
    width: 650px;
    height: 140px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img1 {
    width: 93px;
    height: 46px;
    margin-left: 0px;
    margin-top: -195px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img2 {
    width: 93px;
    height: 46px;
    margin-left: -91px;
    margin-top: -88px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img3 {
    width: 93px;
    height: 46px;
    margin-left: -93px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img4 {
    width: 93px;
    height: 46px;
    margin-left: -93px;
    margin-top: 135px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img5 {
    width: 93px;
    height: 46px;
    margin-left: -93px;
    margin-top: 248px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img1 {
    width: 110px;
    height: 120px;
    margin-left: -5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img2 {
    width: 110px;
    height: 120px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img3 {
    width: 110px;
    height: 120px;
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img4 {
    width: 110px;
    height: 120px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img5 {
    width: 110px;
    height: 120px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img1 {
    width: 110px;
    height: 120px;
    margin-left: -5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img2 {
    width: 110px;
    height: 120px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img3 {
    width: 110px;
    height: 120px;
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img4 {
    width: 110px;
    height: 120px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img5 {
    width: 110px;
    height: 120px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #labelresult {
    margin-left: 80px;
  }
}

@media (min-width: 1800px) {
  #labelresult {
    margin-left: 100px;
  }
}

@media (min-width: 1800px) {
  #righttopdiv {
    margin-top: -818px;
  }
}

@media (min-width: 1800px) {
  #rightdiv {
    height: 700px;
    margin-top: -749px;
    width: 340px;
    margin-left: 462px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rightdiv {
    margin-top: -297px;
    width: 153px;
    margin-left: 295px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #rightdiv {
    height: 500px;
    margin-top: -509px;
    width: 256px;
    margin-left: 275px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #bottomrightdiv {
    margin-left: -604px;
    margin-top: 705px;
  }
}

@media (min-width: 1800px) {
  #right1imgdivjunk {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #right1imgdivjunk {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #right1imgdivjunk {
    margin-top: -20px;
  }
}

@media (min-width: 1800px) {
  #r1img1junk {
    width: 160px;
    height: 106px;
    margin-left: 28px;
    margin-top: 72px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img1junk {
    width: 110px;
    height: 77px;
    margin-top: -324px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img1junk {
    width: 93px;
    height: 46px;
    margin-left: 0px;
    margin-top: -195px;
  }
}

@media (min-width: 1800px) {
  #r1img2junk {
    width: 160px;
    height: 116px;
    margin-left: 24px;
    margin-top: 9px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img2junk {
    width: 110px;
    height: 85px;
    margin-top: -142px;
    margin-left: -110px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img2junk {
    width: 93px;
    height: 46px;
    margin-left: -91px;
    margin-top: -88px;
  }
}

@media (min-width: 1800px) {
  #r1img3junk {
    width: 160px;
    height: 114px;
    margin-left: 24px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img3junk {
    width: 110px;
    height: 85px;
    margin-top: 46px;
    margin-left: -109px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img3junk {
    width: 93px;
    height: 46px;
    margin-left: -93px;
    margin-top: 25px;
  }
}

@media (min-width: 1800px) {
  #r1img4junk {
    width: 160px;
    height: 116px;
    margin-left: 24px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img4junk {
    width: 110px;
    height: 85px;
    margin-top: 228px;
    margin-left: -111px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img4junk {
    width: 93px;
    height: 46px;
    margin-left: -93px;
    margin-top: 135px;
  }
}

@media (min-width: 1800px) {
  #r1img5junk {
    width: 160px;
    height: 107px;
    margin-left: 24px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img5junk {
    width: 110px;
    height: 85px;
    margin-top: 409px;
    margin-left: -110px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img5junk {
    width: 93px;
    height: 46px;
    margin-left: -93px;
    margin-top: 248px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #showbtn {
    width: 190px;
    height: 50px;
    margin-left: -109px;
  }
}

@media (min-width: 1800px) {
  #div-weightmachine {
    height: 800px;
  }
}

@media (min-width: 1800px) {
  #div-weights {
    margin-top: 37px;
    margin-left: 75px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-weights {
    margin-top: -3px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-weights {
    margin-top: -8px;
    margin-left: -26px;
  }
}

@media (min-width: 1800px) {
  #div-images {
    margin-left: 495px;
    margin-top: -823px;
    height: 436px;
    width: 291px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-images {
    width: 288px;
    height: 445px;
    margin-top: -788px;
    margin-left: 427px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-images {
    width: 308px;
    height: 438px;
    margin-top: -785px;
    margin-left: 402px;
  }
}

@media (min-width: 1800px) {
  #div-weightbalance {
    margin-top: 126px;
    width: 495px;
    height: 517px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-weightbalance {
    height: 647px;
    width: 589px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-weightbalance {
    width: 603px;
    height: 617px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #righttopdiv {
    margin-top: -81%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #righttopdiv {
    margin-top: -80%;;
  }
}

@media (min-width: 1800px) {
  #text-kgs {
    margin-top: 282px;
    margin-left: 45px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #text-kgs {
    margin-top: 412px;
    margin-left: 91px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #text-kgs {
    margin-top: 381px;
    margin-left: 96px;
  }
}

