/* .header-section {
  height: 10vh;
}
.image-section {
  height: 70vh;
  width: 100%;
}
.earth-image {
  height: 20vh;
  overflow: hidden;
} */

.header-section-right {
  text-align: right;
}
.header-section {
  padding: 5px;
}
.earth-image {
  height: 150px;
}
.custom-range-bar {
  background: #ccc;
  width: 6px;
  height: 90vh;
  margin-left: 25px;
}
.custom-range-slider {
  position: relative;
}
.custom-range-bar-slider {
  width: 15px;
  height: 15px;
  background: #007bff;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 0;
}

@media screen and (min-width:901px) and (max-width:1200px){
  .custom-range-bar {
    background: #ccc;
    width: 6px;
    height: 38vh ;
    margin-left: 25px;
}
}

@media screen and (min-width:768px) and (max-width:900px){
  .custom-range-bar {
    background: #ccc;
    width: 6px;
    height: 38vh;
    margin-left: 9px;
}
.custom-range-bar-slider {
  left: 5px;
  top: 0;
}

}

@media screen and (min-width:320px) and (max-width:500px){
  .custom-range-bar {
    background: #ccc;
    width: 6px;
    height: 21vh;
    margin-left: 9px;
}
.custom-range-bar-slider {
  left: 5px;
  top: 0;
}
.header-section-left h1 {
  text-align: center;
  font-size: 33px;
}

}


