@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-playarea {
    width: 1500px;
    height: 750px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-left {
    width: 300px;
    height: 750px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-right {
    width: 1100px;
    height: 750px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left1 {
    width: 225px;
    height: 55px;
    margin-top: 15px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left2 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left3 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left4 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left5 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left6 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left7 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left8 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left9 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left10 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-left11 {
    width: 225px;
    height: 55px;
    margin-top: 8px;
    margin-left: 32px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-righttop {
    width: 1100px;
    height: 150px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #lab-rule {
    width: 1050px;
    height: 80px;
    font-size: 35px;
    margin-left: 27px;
    margin-top: 58px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-rightbottom {
    width: 1100px;
    height: 600px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-rightbottom1 {
    height: 150px;
    width: 1100px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-1 {
    width: 45px;
    height: 45px;
    margin-top: 98px;
    margin-left: 86px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-name1 {
    width: 220px;
    height: 45px;
    margin-top: 18px;
    margin-left: 48px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #rl-true1 {
    margin-left: 459px;
    margin-top: -53px;
    width: 250px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #formCheck-t1 {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-t1 {
    margin-left: 30px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #rl-false1 {
    margin-left: 754px;
    margin-top: -53px;
    width: 250px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #formCheck-f1 {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-f1 {
    margin-left: 30px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-rightbottom2 {
    width: 1100px;
    height: 100px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-2 {
    width: 45px;
    height: 45px;
    margin-left: 86px;
    margin-top: 28px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-name2 {
    width: 220px;
    height: 45px;
    margin-top: 18px;
    margin-left: 48px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #rl-true2 {
    margin-left: 459px;
    margin-top: -53px;
    width: 250px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #formCheck-t3 {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-t2 {
    margin-left: 30px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #rl-false2 {
    margin-left: 754px;
    margin-top: -53px;
    width: 250px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #formCheck-f2 {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-f2 {
    margin-left: 30px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-rightbottom3 {
    width: 1100px;
    height: 100px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-3 {
    width: 45px;
    height: 45px;
    margin-left: 86px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-name3 {
    width: 220px;
    height: 45px;
    margin-top: 18px;
    margin-left: 48px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #rl-true3 {
    margin-left: 459px;
    margin-top: -53px;
    width: 250px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #formCheck-t2 {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-t3 {
    margin-left: 30px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #rl-false3 {
    margin-left: 754px;
    margin-top: -53px;
    width: 250px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #formCheck-f3 {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-f3 {
    margin-left: 30px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-rightbottom4 {
    width: 1100px;
    height: 100px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-4 {
    width: 45px;
    height: 45px;
    margin-left: 86px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-name4 {
    width: 220px;
    height: 45px;
    margin-top: 18px;
    margin-left: 48px;
    font-size: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #rl-true4 {
    margin-left: 459px;
    margin-top: -53px;
    width: 250px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #formCheck-t4 {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-t4 {
    margin-left: 30px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #rl-false4 {
    margin-left: 754px;
    margin-top: -53px;
    width: 250px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #formCheck-f4 {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #fl-f4 {
    margin-left: 30px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #div-rightbottom5 {
    width: 1100px;
    height: 85px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-check {
    width: 180px;
    height: 50px;
    margin-top: 13px;
    margin-left: 129px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-show {
    width: 180px;
    height: 50px;
    margin-left: 126px;
    margin-top: 13px;
  }
}

@media screen and (min-width:1500px) and (max-width:1920px) {
  #btn-reset {
    width: 180px;
    height: 50px;
    margin-left: 126px;
    margin-top: 13px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-playarea {
    width: 1200px;
    height: 650px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-left {
    width: 200px;
    height: 650px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-right {
    width: 950px;
    height: 650px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left1 {
    width: 180px;
    height: 45px;
    margin-top: 45px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left2 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left3 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left4 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left5 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left6 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left7 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left8 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left9 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left10 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-left11 {
    width: 180px;
    height: 45px;
    margin-top: 8px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-righttop {
    width: 950px;
    height: 150px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #lab-rule {
    width: 900px;
    height: 70px;
    margin-left: 17px;
    margin-top: 58px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-rightbottom {
    width: 950px;
    height: 500px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-rightbottom1 {
    height: 120px;
    width: 950px;
    font-size: 35px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-rightbottom2 {
    height: 80px;
    width: 950px;
    font-size: 35px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-rightbottom3 {
    height: 80px;
    width: 950px;
    font-size: 35px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-rightbottom4 {
    height: 80px;
    width: 950px;
    font-size: 35px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #div-rightbottom5 {
    width: 950px;
    height: 60px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-1 {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-top: 68px;
    margin-left: 86px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-2 {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-left: 86px;
    margin-top: 28px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-3 {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-left: 86px;
    margin-top: 20px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-4 {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-left: 86px;
    margin-top: 20px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-name1 {
    width: 200px;
    height: 40px;
    margin-top: 18px;
    margin-left: 48px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-name2 {
    width: 200px;
    height: 40px;
    margin-top: 18px;
    margin-left: 48px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-name3 {
    width: 200px;
    height: 40px;
    margin-top: 18px;
    margin-left: 48px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-name4 {
    width: 200px;
    height: 40px;
    margin-top: 18px;
    margin-left: 48px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #rl-true1 {
    width: 220px;
    margin-top: -65px;
    margin-left: 459px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #rl-true2 {
    margin-left: 459px;
    margin-top: -53px;
    width: 220px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #rl-true3 {
    margin-left: 459px;
    margin-top: -53px;
    width: 220px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #rl-true4 {
    margin-left: 459px;
    margin-top: -53px;
    width: 220px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #rl-false4 {
    margin-left: 727px;
    margin-top: -53px;
    width: 220px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #rl-false3 {
    margin-left: 727px;
    margin-top: -53px;
    width: 220px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #rl-false1 {
    margin-left: 727px;
    margin-top: -53px;
    width: 220px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #rl-false2 {
    margin-left: 727px;
    margin-top: -53px;
    width: 220px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #formCheck-t1 {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #formCheck-t3 {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #formCheck-t4 {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #formCheck-t2 {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-t1 {
    margin-left: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-t2 {
    margin-left: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-t3 {
    margin-left: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-t4 {
    margin-left: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #formCheck-f4 {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-f4 {
    margin-left: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #formCheck-f3 {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-f3 {
    margin-left: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #formCheck-f2 {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-f2 {
    margin-left: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #formCheck-f1 {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #fl-f1 {
    margin-left: 30px;
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-check {
    width: 140px;
    height: 40px;
    margin-top: 13px;
    margin-left: 185px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-show {
    width: 140px;
    height: 40px;
    margin-top: 13px;
    margin-left: 126px;
  }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
  #btn-reset {
    width: 140px;
    height: 40px;
    margin-top: 13px;
    margin-left: 126px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-playarea {
    width: 1000px;
    height: 550px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-left {
    width: 150px;
    height: 550px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-right {
    width: 800px;
    height: 500px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-righttop {
    width: 800px;
    height: 130px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #lab-rule {
    width: 780px;
    height: 60px;
    margin-left: 7px;
    margin-top: 50px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-rightbottom {
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-rightbottom1 {
    height: 80px;
    width: 800px;
    font-size: 35px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-rightbottom2 {
    height: 80px;
    width: 800px;
    font-size: 35px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-rightbottom3 {
    height: 80px;
    width: 800px;
    font-size: 35px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-rightbottom4 {
    height: 80px;
    width: 800px;
    font-size: 35px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #div-rightbottom5 {
    width: 800px;
    height: 50px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-1 {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    margin-left: 86px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-name1 {
    width: 160px;
    height: 40px;
    margin-top: 18px;
    margin-left: 38px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-name2 {
    width: 160px;
    height: 40px;
    margin-top: 18px;
    margin-left: 38px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-name3 {
    width: 160px;
    height: 40px;
    margin-top: 18px;
    margin-left: 38px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-name4 {
    width: 160px;
    height: 40px;
    margin-top: 18px;
    margin-left: 38px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-2 {
    width: 30px;
    height: 30px;
    margin-left: 86px;
    margin-top: 28px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-3 {
    width: 30px;
    height: 30px;
    margin-left: 86px;
    font-size: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-4 {
    width: 30px;
    height: 30px;
    margin-left: 86px;
    font-size: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #rl-true1 {
    margin-left: 392px;
    margin-top: -61px;
    width: 160px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #rl-true2 {
    margin-left: 392px;
    margin-top: -53px;
    width: 160px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #rl-true3 {
    margin-left: 392px;
    margin-top: -53px;
    width: 160px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #rl-true4 {
    margin-left: 392px;
    margin-top: -53px;
    width: 160px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #rl-false1 {
    margin-left: 637px;
    margin-top: -53px;
    width: 160px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #rl-false2 {
    margin-left: 637px;
    margin-top: -53px;
    width: 160px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #rl-false3 {
    margin-left: 637px;
    margin-top: -53px;
    width: 160px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-f4 {
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #rl-false4 {
    margin-left: 637px;
    margin-top: -53px;
    width: 160px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #formCheck-t1 {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-t1 {
    margin-left: 20px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #formCheck-t2 {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-t2 {
    margin-left: 20px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #formCheck-t3 {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-t3 {
    margin-left: 20px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #formCheck-t4 {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-t4 {
    margin-left: 20px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #formCheck-f1 {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-f1 {
    margin-left: 20px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #formCheck-f2 {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-f2 {
    margin-left: 20px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #formCheck-f3 {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-f3 {
    margin-left: 20px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #formCheck-f4 {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #fl-f4 {
    margin-left: 20px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-check {
    width: 100px;
    margin-left: 185px;
    margin-top: 13px;
    height: 30px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-show {
    width: 100px;
    height: 30px;
    margin-top: 13px;
    margin-left: 126px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-reset {
    width: 100px;
    height: 30px;
    margin-top: 13px;
    margin-left: 126px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left1 {
    width: 140px;
    height: 35px;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left2 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left3 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left4 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left5 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left6 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left7 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left8 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left9 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left10 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1199px) {
  #btn-left11 {
    width: 140px;
    height: 35px;
    margin-top: 8px;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

