.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 1800px) {
  #leftdiv {
    width: 700px;
    height: 850px;
    margin-left: 20px;
    margin-top: -22px;
  }
}

@media (min-width: 1800px) {
  #rightmaindiv {
    width: 1100px;
    margin-top: 16px;
  }
}

@media (min-width: 1800px) {
  #left1div {
    width: 294px;
    margin-left: 35px;
  }
}

@media (min-width: 1800px) {
  #left2div {
    width: 200px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left3div {
    width: 200px;
    margin-left: 25px;
  }
}

@media (min-width: 1800px) {
  #bottomrightdiv {
    width: 800px;
    margin-top: 10px;
    margin-left: 71px;
    height: 59px;
  }
}

@media (min-width: 1800px) {
  #correctbtn {
    width: 190px;
    height: 50px;
    margin-left: -379px;
  }
}

@media (min-width: 1800px) {
  #showbtn {
    width: 190px;
    height: 50px;
    margin-left: -146px;
  }
}

@media (min-width: 1800px) {
  #rightimgsdiv {
    width: 900px;
    height: 700px;
    margin-left: 164px;
  }
}

@media (min-width: 1800px) {
  #right1imgdiv {
    /*width: 920px;*/
    /*height: 180px;*/
    margin-top: 48px;
  }
}

@media (min-width: 1800px) {
  #right2imgdiv {
    width: 920px;
    height: 180px;
    margin-top: 50px;
  }
}

@media (min-width: 1800px) {
  #right3imgdiv {
    width: 920px;
    height: 180px;
    margin-top: 32px;
  }
}

@media (min-width: 1800px) {
  #r3img1 {
    width: 160px;
    height: 160px;
    margin-left: -8px;
  }
}

@media (min-width: 1800px) {
  #r3img2 {
    width: 160px;
    height: 160px;
    margin-left: 19px;
  }
}

@media (min-width: 1800px) {
  #r3img3 {
    width: 160px;
    height: 160px;
    margin-left: 34px;
  }
}

@media (min-width: 1800px) {
  #r3img4 {
    width: 160px;
    height: 160px;
    margin-left: 32px;
  }
}

@media (min-width: 1800px) {
  #r3img5 {
    height: 160px;
    width: 160px;
    margin-left: 35px;
  }
}

@media (min-width: 1800px) {
  #r2img1 {
    width: 160px;
    height: 160px;
    margin-left: -8px;
  }
}

@media (min-width: 1800px) {
  #r2img2 {
    width: 160px;
    height: 160px;
    margin-left: 19px;
  }
}

@media (min-width: 1800px) {
  #r2img3 {
    width: 160px;
    height: 160px;
    margin-left: 34px;
  }
}

@media (min-width: 1800px) {
  #r2img4 {
    width: 160px;
    height: 160px;
    margin-left: 32px;
  }
}

@media (min-width: 1800px) {
  #r2img5 {
    width: 160px;
    height: 160px;
    margin-left: 35px;
  }
}

@media (min-width: 1800px) {
  #r1img1 {
    width: 160px;
    height: 120px;
    margin-left: -211px;
    margin-top: 52px;
  }
}

@media (min-width: 1800px) {
  #r1img2 {
    width: 160px;
    height: 116px;
    margin-left: 41px;
    margin-top: 52px;
  }
}

@media (min-width: 1800px) {
  #r1img3 {
    width: 160px;
    height: 132px;
    margin-left: -209px;
    margin-top: 198px;
  }
}

@media (min-width: 1800px) {
  #r1img4 {
    width: 160px;
    height: 126px;
    margin-left: 45px;
    margin-top: 197px;
  }
}

@media (min-width: 1800px) {
  #r1img5 {
    width: 160px;
    height: 111px;
    margin-left: -208px;
    margin-top: 373px;
  }
}

#left3img1 {
}

@media (min-width: 1800px) {
  #left1img1 {
    width: 272px;
    height: 155px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left1img2 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left1img3 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left1img4 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left1img5 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media (min-width: 1800px) {
  #left2img1 {
    width: 170px;
    height: 155px;
  }
}

@media (min-width: 1800px) {
  #left2img2 {
    width: 170px;
    height: 155px;
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  #left2img3 {
    width: 170px;
    height: 155px;
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  #left2img4 {
    width: 170px;
    height: 155px;
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  #left2img5 {
    width: 170px;
    height: 155px;
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  #left3img1 {
    width: 272px;
    height: 155px;
    margin-left: 21px;
  }
}

@media (min-width: 1800px) {
  #left3img2 {
    width: 272px;
    height: 155px;
    margin: 10px;
    margin-left: 21px;
  }
}

@media (min-width: 1800px) {
  #left3img3 {
    width: 272px;
    height: 155px;
    margin-top: 0px;
    margin-left: 21px;
  }
}

@media (min-width: 1800px) {
  #left3img4 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 21px;
  }
}

@media (min-width: 1800px) {
  #left3img5 {
    width: 272px;
    height: 155px;
    margin-top: 10px;
    margin-left: 21px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #playareadiv {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rightimgsdiv {
    margin-left: 100px;
    width: 650px;
    height: 400px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #leftdiv {
    width: 500px;
    height: 650px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #left1div {
    height: 620px;
    width: 215px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rightmaindiv {
    width: 700px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img1 {
    width: 200px;
    height: 120px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img2 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img3 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img4 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left1img5 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #left2div {
    width: 150px;
    height: 620px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #left3div {
    width: 220px;
    height: 620px;
    margin-left: 53px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img1 {
    width: 140px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img2 {
    width: 140px;
    height: 120px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img3 {
    margin-top: 5px;
    width: 140px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img4 {
    margin-top: 5px;
    width: 140px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left2img5 {
    margin-top: 5px;
    width: 140px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img1 {
    width: 200px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img2 {
    margin-top: 5px;
    width: 200px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img3 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img4 {
    margin-top: 5px;
    width: 200px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #left3img5 {
    width: 200px;
    height: 120px;
    margin-top: 5px;
  }
}

@media (min-width: 1800px) {
  #rightmiddleblock {
    height: 748px;
    margin-top: 4px;
    width: 1550px;
    margin-left: -1040px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rightmiddleblock {
    margin-top: -40px;
    height: 595px;
    width: 1038px;
    margin-left: -679px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #bottomrightdiv {
    width: 600px;
    margin-top: 10px;
    margin-left: -29px;
    height: 59px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #correctbtn {
    width: 150px;
    height: 50px;
    margin-left: -272px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  showans {
    width: 160px;
    height: 50px;
    margin-left: 80px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #playareadiv {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #leftdiv {
    width: 500px;
    height: 650px;
    margin-left: 100px;
    margin-top: 19px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #left1div {
    height: 620px;
    width: 233px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #left2div {
    width: 150px;
    height: 620px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #left3div {
    width: 312px;
    height: 620px;
    margin-left: 37px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #rightmaindiv {
    margin-left: 150px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #rightimgsdiv {
    margin-left: 100px;
    width: 650px;
    height: 500px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #right1imgdiv {
    width: 650px;
    /*height: 150px;*/
    margin-top: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #rightmiddleblock {
    height: 598px;
    margin-top: -6px;
    width: 1193px;
    margin-left: -817px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #right2imgdiv {
    width: 650px;
    height: 150px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #right3imgdiv {
    width: 650px;
    height: 150px;
    margin-top: 11px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img1 {
    width: 156px;
    height: 105px;
    margin-top: 37px;
    margin-left: -205px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img2 {
    width: 156px;
    height: 94px;
    margin-top: 37px;
    margin-left: 35px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img3 {
    width: 119px;
    height: 119px;
    margin-top: 164px;
    margin-left: -176px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img4 {
    width: 110px;
    height: 104px;
    margin-top: 177px;
    margin-left: 46px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img5 {
    width: 135px;
    height: 111px;
    margin-top: 315px;
    margin-left: -188px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img1 {
    width: 110px;
    height: 120px;
    margin-top: 15px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img2 {
    width: 110px;
    height: 120px;
    margin-top: 15px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img3 {
    width: 110px;
    height: 120px;
    margin-top: 15px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img4 {
    width: 110px;
    height: 120px;
    margin-left: 20px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r2img5 {
    width: 110px;
    height: 120px;
    margin-top: 15px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img1 {
    width: 110px;
    height: 120px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img2 {
    width: 110px;
    height: 120px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img3 {
    width: 110px;
    height: 120px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img4 {
    width: 110px;
    height: 120px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r3img5 {
    width: 110px;
    height: 120px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #right1imgdiv {
    width: 153px;
    /*height: 140px;*/
    margin-top: -20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #right2imgdiv {
    width: 650px;
    height: 140px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #right3imgdiv {
    width: 650px;
    height: 140px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img1 {
    width: 100px;
    height: 83px;
    margin-left: -145px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img2 {
    width: 133px;
    height: 75px;
    margin-left: 31px;
    margin-top: 21px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img3 {
    width: 114px;
    height: 96px;
    margin-left: -144px;
    margin-top: 130px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img4 {
    width: 101px;
    height: 99px;
    margin-left: 38px;
    margin-top: 126px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img5 {
    width: 120px;
    height: 79px;
    margin-left: -151px;
    margin-top: 243px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img1 {
    width: 110px;
    height: 120px;
    margin-left: -5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img2 {
    width: 110px;
    height: 120px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img3 {
    width: 110px;
    height: 120px;
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img4 {
    width: 110px;
    height: 120px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r2img5 {
    width: 110px;
    height: 120px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img1 {
    width: 110px;
    height: 120px;
    margin-left: -5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img2 {
    width: 110px;
    height: 120px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img3 {
    width: 110px;
    height: 120px;
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img4 {
    width: 110px;
    height: 120px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r3img5 {
    width: 110px;
    height: 120px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #labelresult {
    margin-left: 80px;
  }
}

@media (min-width: 1800px) {
  #labelresult {
    margin-left: 100px;
  }
}

@media (min-width: 1800px) {
  #rightdiv {
    height: 700px;
    margin-top: 16px;
    width: 582px;
    margin-left: 193px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #rightdiv {
    margin-top: -44px;
    width: 498px;
    margin-left: 381px;
    height: 458px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #rightdiv {
    height: 573px;
    margin-top: -397px;
    width: 549px;
    margin-left: 830px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #bottomrightdiv {
    margin-left: -16px;
  }
}

@media (min-width: 1800px) {
  #right1imgdivjunk {
    margin-top: 14px;
    height: 699px;
    width: 372px;
    margin-left: 724px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #right1imgdivjunk {
    margin-top: 10px;
    height: 543px;
    margin-left: 400px;
    width: 457px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #right1imgdivjunk {
    margin-top: -20px;
    width: 397px;
    height: 531px;
    margin-top: 89px;
    margin-left: 375px;
  }
}

@media (min-width: 1800px) {
  #r1img1junk {
    width: 160px;
    height: 106px;
    margin-left: 28px;
    margin-top: 72px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img1junk {
    width: 110px;
    height: 77px;
    margin-top: -324px;
  }
}

@media (min-width: 1800px) {
  #r1img2junk {
    width: 160px;
    height: 116px;
    margin-left: 24px;
    margin-top: 9px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img2junk {
    width: 110px;
    height: 85px;
    margin-top: -142px;
    margin-left: -110px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img2junk {
    width: 93px;
    height: 46px;
    margin-left: -91px;
    margin-top: -88px;
  }
}

@media (min-width: 1800px) {
  #r1img3junk {
    width: 160px;
    height: 114px;
    margin-left: 24px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img3junk {
    width: 110px;
    height: 85px;
    margin-top: 46px;
    margin-left: -109px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img3junk {
    width: 93px;
    height: 46px;
    margin-left: -93px;
    margin-top: 25px;
  }
}

@media (min-width: 1800px) {
  #r1img4junk {
    width: 160px;
    height: 116px;
    margin-left: 24px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img4junk {
    width: 110px;
    height: 85px;
    margin-top: 228px;
    margin-left: -111px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img4junk {
    width: 93px;
    height: 46px;
    margin-left: -93px;
    margin-top: 135px;
  }
}

@media (min-width: 1800px) {
  #r1img5junk {
    width: 160px;
    height: 107px;
    margin-left: 24px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img5junk {
    width: 110px;
    height: 85px;
    margin-top: 409px;
    margin-left: -110px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img5junk {
    width: 93px;
    height: 46px;
    margin-left: -93px;
    margin-top: 248px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  #showbtn {
    width: 190px;
    height: 50px;
    margin-left: -109px;
  }
}

@media (min-width: 1800px) {
  r1img7 {
    width: 160px;
    height: 111px;
    margin-left: 47px;
    margin-top: 377px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  r1img7 {
    width: 110px;
    height: 85px;
    margin-top: 409px;
    margin-left: -109px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  r1img7 {
    width: 93px;
    height: 111px;
    margin-left: -93px;
    margin-top: 377px;
  }
}

@media (min-width: 1800px) {
  #r1img6 {
    width: 160px;
    height: 107px;
    margin-left: 47px;
    margin-top: 377px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img6 {
    width: 110px;
    height: 95px;
    margin-top: 321px;
    margin-left: 55px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img6 {
    width: 93px;
    height: 90px;
    margin-left: 36px;
    margin-top: 235px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  r1img7 {
    width: 110px;
    height: 85px;
    margin-top: 409px;
    margin-left: -109px;
  }
}

@media (min-width: 1800px) {
  r1img7 {
    width: 140px;
    height: 126px;
  }
}

@media (min-width: 1800px) {
  #r1img7 {
    width: 160px;
    height: 120px;
    margin-top: 533px;
    margin-left: -190px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #r1img7 {
    margin-top: 459px;
    margin-left: -169px;
    height: 130px;
    width: 128px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #r1img7 {
    margin-top: 352px;
    margin-left: -135px;
    height: 93px;
    width: 103px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #topdiv {
    margin-top: -19px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #topdiv {
    margin-top: -31px;
  }
}

@media (min-width: 1800px) {
  #topdiv {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-text {
    height: 113px;
    margin-top: -120px;
    width: 820px;
    margin-left: -14px;
    font-size: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-text {
    margin-top: -82px;
    height: 61px;
    width: 648px;
    margin-left: -244px;
    font-size: 38px;
  }
}

@media (min-width: 1800px) {
  #div-text {
    height: 83px;
    margin-top: -99px;
    width: 892px;
    margin-left: -168px;
    font-size: 50px;
  }
}

@media (min-width: 1800px) {
  #div-middle {
    height: 83px;
    margin-top: -99px;
    width: 892px;
    margin-left: -168px;
    font-size: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-middle {
    margin-top: -82px;
    height: 61px;
    width: 648px;
    margin-left: -244px;
    font-size: 38px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-middle {
    height: 113px;
    margin-top: -120px;
    width: 820px;
    margin-left: -14px;
    font-size: 50px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-img {
    height: 250px;
    margin-top: 72px;
    width: 658px;
    margin-left: -475px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-img {
    margin-top: 45px;
    height: 268px;
    width: 504px;
    margin-left: -407px;
  }
}

@media (min-width: 1800px) {
  #div-img {
    height: 369px;
    margin-top: 101px;
    width: 820px;
    margin-left: -675px;
  }
}

@media (min-width: 1800px) {
  #div-rays {
    height: 478px;
    margin-top: 162px;
    width: 273px;
    margin-left: -508px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-rays {
    margin-top: 100px;
    height: 322px;
    width: 177px;
    margin-left: -313px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-rays {
    height: 367px;
    margin-top: 107px;
    width: 313px;
    margin-left: -392px;
  }
}

@media (min-width: 1800px) {
  #div-select-2 {
    height: 57px;
    margin-top: 13px;
    width: 271px;
    margin-left: 1613px;
    font-size: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-select-2 {
    margin-top: 51px;
    height: 61px;
    width: 232px;
    margin-left: 1119px;
    font-size: 38px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-select-2 {
    height: 60px;
    margin-top: 26px;
    width: 264px;
    margin-left: 1325px;
    font-size: 50px;
  }
}

@media (min-width: 1800px) {
  #div-img1 {
    height: 441px;
    margin-top: 231px;
    width: 198px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-img1 {
    margin-top: 133px;
    height: 288px;
    width: 131px;
    margin-left: 17px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-img1 {
    height: 369px;
    margin-top: 138px;
    width: 171px;
    margin-left: 79px;
  }
}

.text-center {
  text-align: center!important;
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-top {
    height: 266px;
    margin-top: 9px;
    width: 182px;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-top {
    margin-top: 77px;
    height: 200px;
    width: 148px;
    margin-left: 126px;
  }
}

@media (min-width: 1800px) {
  #div-top {
    height: 244px;
    margin-top: 86px;
    width: 292px;
    margin-left: 111px;
  }
}

@media (min-width: 1800px) {
  #div-down {
    height: 108px;
    margin-top: 301px;
    width: 595px;
    margin-left: 649px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-down {
    margin-top: 218px;
    height: 64px;
    width: 372px;
    margin-left: 440px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-down {
    height: 92px;
    margin-top: 228px;
    width: 485px;
    margin-left: 562px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-dots {
    height: 35px;
    margin-top: 155px;
    width: 801px;
    margin-left: -529px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-dots {
    margin-top: 136px;
    height: 53px;
    width: 655px;
    margin-left: -422px;
  }
}

@media (min-width: 1800px) {
  #div-dots {
    height: 97px;
    margin-top: 228px;
    width: 1099px;
    margin-left: -750px;
  }
}

@media (min-width: 1800px) {
  #div-button-1 {
    height: 398px;
    margin-top: -74px;
    width: 165px;
    margin-left: -959px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #div-button-1 {
    margin-top: -199px;
    height: 413px;
    width: 230px;
    margin-left: -758px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  #div-button-1 {
    height: 271px;
    margin-top: -184px;
    width: 346px;
    margin-left: -906px;
  }
}

